.jumbotron h1 {
    font-size: 80px;
}

h1, h2 {
    font-family: 'Satisfy', cursive;
}

img.avatar {
    margin-right: 10px;
    border-radius: 4px;
    width: 40px;
    height: 40px;
}

img.link {
    width:30px;
    height:30px;
}

/* Header */
div.header {
    background-color: #D95C5C;
    color: #FFF;
}

div.header .nav-pills > li.active > a, div.header .nav-pills > li.active > a:hover, div.header .nav-pills > li.active > a:focus {
    color: #D95C5C;
    background-color: #FFF;
}