.jumbotron h1 {
    font-size: 80px;
}

h1, h2 {
    font-family: 'Satisfy', cursive;
}

img.avatar {
    margin-right: 10px;
    border-radius: 4px;
    width: 40px;
    height: 40px;
}

img.link {
    width:30px;
    height:30px;
}