/* COLORS : https://kuler.adobe.com/Honey-in-the-Sky-color-theme-3818674/ */

.jumbotron h1 {
    font-size: 80px;
}

h1, h2 {
    font-family: 'Satisfy', cursive;
}

.active {
    background-color: #C0C0C0;
}

.container {
    width: 900px;
}

.affix {
    position: fixed;
    top: 20px;
}

img.avatar {
    margin-right: 10px;
    border-radius: 4px;
    width: 40px;
    height: 40px;
}

img.link {
    width:30px;
    height:30px;
}

.jumbotron .btn, .jumbotron .btn:hover {
    background-color: #F3AD14;
    border-color: #D19511;
}

/* Header */

div.header {
    background-color: #31A6A8;
    color: #FFF;
}

div.header .nav-pills {
    margin-top: 15px;
}

div.header .nav-pills > li.active > a, div.header .nav-pills > li.active > a:hover, div.header .nav-pills > li.active > a:focus {
    color: #FFF;
    background-color: #F3AD14;
}

div.header a {
    color: #FFF;
}

div.header .nav a:hover {
    color: #FFF;
    background-color: #1B808C;
}