.jumbotron h1 {
    font-size: 80px;
}

h1, h2 {
    font-family: 'Satisfy', cursive;
}

.nav {
    position: relative;
    display: block;
}

.container {
    width: 900px;
}

.affix {
    position: fixed;
    top: 20px;
}

img.avatar {
    margin-right: 10px;
    border-radius: 4px;
    width: 40px;
    height: 40px;
}

img.link {
    width:30px;
    height:30px;
}

/* Header */

div.header {
    background-color: #31A6A8;
    color: #F3F1BC;
}

div.header .nav-pills {
    margin-top: 15px;
}

div.header .nav-pills > li.active > a, div.header .nav-pills > li.active > a:hover, div.header .nav-pills > li.active > a:focus {
    color: #F3F1BC;
    background-color: #F3AD14;
}
div.header a, div.header .nav > li > a:hover {
    color: #F3F1BC;
    background-color: #1B808C;
}