<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

---
layout: default
title: Home
---

<div class="jumbotron">
    <h1>{{ site.title }}</h1>
    <p class="lead">We do Sublime Text plugins and more ...</p>
    <p><a class="btn btn-lg btn-default" href="/projects.html" role="button">See our Projects</a></p>
</div>

<div class="row">
    {% for post in site.posts %}
        {% for category in post.categories %}
            <span class="badge pull-right">{{ category }}</span>
        {% endfor %}
        <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
        {{ post.excerpt }}
        <hr/>
    {% endfor %}
</div>
