<div class="header">
    <div class="container">
        <ul class="nav nav-pills pull-right">
            <li{% if page.title == 'Home' %} class="active"{% endif %}><a href="/">Home</a></li>
            <li{% if page.title == 'Projects' %} class="active"{% endif %}><a href="/projects.html">Projects</a></li>
            <li{% if page.title == 'About' %} class="active"{% endif %}><a href="/about.html">About</a></li>
        </ul>
        <h1><a href="/">{{ site.title }}</a></h1>
    </div>
</div>